<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <!--web.xml 主要用来配置该 web 应用使用到的 servlet
    1. servlet-name：给 servlet 取名，该名字唯一
    2. servlet-class：servlet 的类的全路径：Tomcat 在反射生成该 servlet 需要使用
    3. url-pattern: 这个就是该 servlet 访问的 URL 的配置（路径）
   -->

  <!-- 配置HelloServlet -->
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>org.xgo.learn.servlet.controller.HelloServlet</servlet-class>
    <!-- 表示tomcat启动时，自动装载该Servlet -->
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/helloServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>org.xgo.learn.servlet.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>HiServlet</servlet-name>
    <servlet-class>org.xgo.learn.servlet.controller.HiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HiServlet</servlet-name>
    <url-pattern>/hiServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>CatServlet</servlet-name>
    <servlet-class>org.xgo.learn.servlet.controller.work01.CatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CatServlet</servlet-name>
    <url-pattern>/work/cat</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>DogServlet</servlet-name>
    <servlet-class>org.xgo.learn.servlet.controller.work01.DogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DogServlet</servlet-name>
    <url-pattern>/work/dog</url-pattern>
  </servlet-mapping>
  
  <!-- 配置 DBServlet -->
  <servlet>
    <servlet-name>DBServlet</servlet-name>
    <servlet-class>org.xgo.learn.servlet.controller.servletconfig.DBServlet</servlet-class>
    <init-param>
      <param-name>username</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
      <param-name>pwd</param-name>
      <param-value>1234</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBServlet</servlet-name>
    <url-pattern>/dbServlet</url-pattern>
  </servlet-mapping>
</web-app>
